/* base styles */

* {
  box-sizing: border-box;
}

/* Custom Properties */

:root {
  --ff-primary: 'Open Sans', sans-serif;
  --ff-secondary: 'Roboto', sans-serif;

  --clr-dark: #303030;
  --clr-accent: #16e0bd;

  --white: #fff;
  --darkWhite: #edecec;
  --lightGreen: #16E0BD;
  --mediumGreen: #14CFAE;
  --darkGreen: #1C4B43;
  --lightBlack: #303030;
  --mediumBlack: #282828;
  --darkestBlack: #141414;
}

/* Base Styles */
html {
  scroll-behavior: smooth;
}

body {
  font-family: var(--ff-primary);
  margin: 0;
}

ul {
  padding: 0;
}